Repository mnazzaro/vibespeed: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, stylelint

lint:
  run: "if pnpm exec eslint {staged_files} --max-warnings=0; then\n  echo \"‚úÖ ESLint: No issues found\"\n  exit 0\nelse\n  echo \"üîß ESLint: Fixing issues...\"\n  pnpm exec eslint {staged_files} --fix --max-warnings=0\n  git add {staged_files}\n  echo \"‚ùå ESLint: Fixed issues - please review and
  ...

format:
  run: "if pnpm exec prettier --check {staged_files}; then\n  echo \"‚úÖ Prettier: Code is properly formatted\"\n  exit 0\nelse\n  echo \"üîß Prettier: Fixing formatting...\"\n  pnpm exec prettier --write {staged_files}\n  git add {staged_files}\n  echo \"‚ùå Prettier: Fixed formatting - please revie
  ...

stylelint:
  run: "if pnpm exec stylelint {staged_files} --allow-empty-input; then\n  echo \"‚úÖ Stylelint: No issues found\"\n  exit 0\nelse\n  echo \"üîß Stylelint: Fixing issues...\"\n  pnpm exec stylelint {staged_files} --allow-empty-input --fix\n  git add {staged_files}\n  echo \"‚ùå Stylelint: Fixed issue
  ...

Test lefthook with TypeScript file
  test.ts
  test.txt
Due: format

Try lefthook" "
  package.json
  pnpm-lock.yaml
  test.ts
  test.txt
Due: format

lefthook?
  package.json
  pnpm-lock.yaml
Due: format

Upgrade some stuff + lefthook
  package.json
  pnpm-lock.yaml
Due: format

It should work now
  .eslintignore
  .eslintrc.json
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  .npmrc
  DEPENDENCY_MANAGEMENT.md
  eslint.config.mjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/components/Sidebar.tsx
  src/components/ui/avatar.tsx
  src/components/ui/button.tsx
  src/main.ts
  src/main/config/github.ts
  src/main/handlers/deepLink.ts
  src/main/ipc/auth.ts
  src/main/ipc/tasks.ts
  src/main/services/auth.ts
  src/main/services/gitManager.ts
  src/main/services/github.ts
  src/main/services/taskManager.ts
  src/main/services/tokenManager.ts
  src/preload.ts
  src/renderer.tsx
  src/renderer/App.tsx
  src/renderer/components/Auth/InstallationSelector.tsx
  src/renderer/components/Auth/LoginButton.tsx
  src/renderer/components/Auth/RepositoryPicker.tsx
  src/renderer/components/Tasks/TaskChat.tsx
  src/renderer/components/Tasks/TaskCreator.tsx
  src/renderer/components/Tasks/TaskHeader.tsx
  src/renderer/components/Tasks/TaskList.tsx
  src/renderer/components/Tasks/TaskView.tsx
  src/renderer/store/auth.ts
  src/renderer/store/tasks.ts
Due: lint, format

Sort of working
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  .npmrc
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/main/ipc/claude.ts
  src/main/ipc/tasks.ts
  src/main/services/claudeService.ts
  src/preload.ts
  src/renderer/components/Tasks/TaskChat.tsx
  src/renderer/store/tasks.ts
  src/shared/types/claude.ts
Due: lint, format

Almost dogfoodable
  src/main/services/claudeService.ts
  src/preload.ts
  src/renderer/App.tsx
  src/renderer/components/Tasks/TaskChat.tsx
  src/renderer/components/Tasks/TaskCreator.tsx
  src/renderer/components/Tasks/TaskView.tsx
Due: lint, format

Panes
  forge.config.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/main/ipc/files.ts
  src/main/ipc/terminal.ts
  src/preload.ts
  src/renderer/App.tsx
  src/renderer/components/PaneTypes/FileExplorerPane.tsx
  src/renderer/components/PaneTypes/TerminalPane.tsx
  src/renderer/components/Panes/PaneContainer.tsx
  src/renderer/components/Panes/PaneResizer.tsx
  src/renderer/components/Panes/PaneWrapper.tsx
  src/renderer/store/panes.ts
  src/shared/types/panes.ts
  vite.main.config.ts
Due: lint, format

Remove unused stuff from FileExplorerPane
  src/renderer/components/PaneTypes/FileExplorerPane.tsx
Due: lint, format

Ready to go
  package-lock.json
Due: format

Intermediate states are really close
  src/components/ui/textarea.tsx
  src/main/ipc/claude.ts
  src/main/ipc/tasks.ts
  src/main/services/claudeService.ts
  src/preload.ts
  src/renderer/components/Tasks/TaskChat.tsx
  src/renderer/components/Tasks/TaskCreator.tsx
  src/renderer/components/Tasks/TaskHeader.tsx
  src/shared/types/claude.ts
  src/shared/types/tasks.ts
Due: lint, format

Foundation is there. Claude working properly
  src/main/services/claudeService.ts
  src/renderer/components/Tasks/TaskChat.tsx
Due: lint, format

Foundation is there. Claude working properly
  src/main/services/claudeService.ts
Due: lint, format

Some git stuff + small style tweaks
  src/components/InstallationList.tsx
  src/components/Sidebar.tsx
  src/components/ui/button.tsx
  src/renderer/App.tsx
  src/renderer/components/Auth/InstallationSelector.tsx
  src/renderer/components/Tasks/TaskCreator.tsx
  src/renderer/components/Tasks/TaskList.tsx
  src/renderer/store/auth.ts
Due: lint, format

Git diff viewer is pretty clean
  package.json
  pnpm-lock.yaml
  src/main/ipc/tasks.ts
  src/main/services/gitManager.ts
  src/preload.ts
  src/renderer/components/PaneTypes/DiffViewer.tsx
  src/renderer/components/PaneTypes/GitDiffPane.tsx
  src/renderer/components/Panes/PaneWrapper.tsx
  src/renderer/store/panes.ts
  src/shared/types/panes.ts
Due: lint, format

Update GitHub App setup documentation
  GITHUB_APP_SETUP.md
Due: format

Solid foundation. Just needs styling and features now
  package.json
  pnpm-lock.yaml
  src/main/ipc/claude.ts
  src/main/ipc/tasks.ts
  src/main/services/claudeService.ts
  src/main/services/taskManager.ts
  src/preload.ts
  src/renderer/components/Tasks/TaskChat.tsx
  src/renderer/components/Tasks/TaskInput.tsx
  src/renderer/components/Tasks/TaskMessageStream.tsx
  src/renderer/store/tasks.ts
  src/shared/types/claude.ts
  src/shared/types/tasks.ts
Due: lint, format

Remove the stream message state variable
  src/main/services/claudeService.ts
  src/renderer/components/Tasks/TaskChat.tsx
  src/renderer/store/tasks.ts
Due: lint, format

Code review time
  src/renderer/components/Tasks/TaskMessageStream.tsx
Due: lint, format

Clean up options
  src/main/ipc/claude.ts
  src/main/services/claudeService.ts
  src/preload.ts
  src/renderer/components/Tasks/TaskChat.tsx
  src/renderer/components/Tasks/TaskInput.tsx
  src/renderer/components/Tasks/TaskMessageStream.tsx
  src/shared/types/claude.ts
Due: lint, format

Ok claude is rock solid
  src/main/services/claudeService.ts
  src/renderer/components/Tasks/TaskChat.tsx
  src/renderer/components/Tasks/TaskMessageStream.tsx
  src/renderer/components/Tasks/TaskView.tsx
Due: lint, format

Ugly tool styles
  src/renderer/components/Tasks/TaskChat.tsx
  src/renderer/components/Tasks/TaskMessageStream.tsx
  src/renderer/components/Tasks/Tools/BashOutputTool.tsx
  src/renderer/components/Tasks/Tools/BashTool.tsx
  src/renderer/components/Tasks/Tools/EditTool.tsx
  src/renderer/components/Tasks/Tools/ExitPlanModeTool.tsx
  src/renderer/components/Tasks/Tools/GlobTool.tsx
  src/renderer/components/Tasks/Tools/GrepTool.tsx
  src/renderer/components/Tasks/Tools/KillBashTool.tsx
  src/renderer/components/Tasks/Tools/MultiEditTool.tsx
  src/renderer/components/Tasks/Tools/NotebookEditTool.tsx
  src/renderer/components/Tasks/Tools/ReadTool.tsx
  src/renderer/components/Tasks/Tools/TaskTool.tsx
  src/renderer/components/Tasks/Tools/TodoWriteTool.tsx
  src/renderer/components/Tasks/Tools/WebFetchTool.tsx
  src/renderer/components/Tasks/Tools/WebSearchTool.tsx
  src/renderer/components/Tasks/Tools/WriteTool.tsx
  src/renderer/components/Tasks/Tools/index.ts
Due: lint, format

Clean clean clean
  src/components/Sidebar.tsx
  src/components/ui/button.tsx
  src/index.css
  src/renderer/App.tsx
  src/renderer/components/Auth/RepositoryPicker.tsx
  src/renderer/components/PaneTypes/DiffViewer.tsx
  src/renderer/components/PaneTypes/GitDiffPane.tsx
  src/renderer/components/PaneTypes/TerminalPane.tsx
  src/renderer/components/Panes/PaneWrapper.tsx
  src/renderer/components/Tasks/TaskChat.tsx
  src/renderer/components/Tasks/TaskHeader.tsx
  src/renderer/components/Tasks/TaskInput.tsx
  src/renderer/components/Tasks/TaskList.tsx
  src/renderer/components/Tasks/TaskMessageStream.tsx
  src/renderer/components/Tasks/Tools/BashOutputTool.tsx
  src/renderer/components/Tasks/Tools/BashTool.tsx
  src/renderer/components/Tasks/Tools/EditTool.tsx
  src/renderer/components/Tasks/Tools/ExitPlanModeTool.tsx
  src/renderer/components/Tasks/Tools/GlobTool.tsx
  src/renderer/components/Tasks/Tools/GrepTool.tsx
  src/renderer/components/Tasks/Tools/KillBashTool.tsx
  src/renderer/components/Tasks/Tools/MultiEditTool.tsx
  src/renderer/components/Tasks/Tools/NotebookEditTool.tsx
  src/renderer/components/Tasks/Tools/ReadTool.tsx
  src/renderer/components/Tasks/Tools/TaskTool.tsx
  src/renderer/components/Tasks/Tools/TodoWriteTool.tsx
  src/renderer/components/Tasks/Tools/WebFetchTool.tsx
  src/renderer/components/Tasks/Tools/WebSearchTool.tsx
  src/renderer/components/Tasks/Tools/WriteTool.tsx
  tailwind.config.js
Due: lint, format, stylelint

Fix task repository initialization state persistence issue
  src/renderer/store/tasks.ts
Due: lint, format

Add progress events for existing worktrees and timing fix
  src/main/ipc/tasks.ts
  src/main/services/gitManager.ts
  src/renderer/store/tasks.ts
Due: lint, format

Fix planning style and logs
  src/renderer/components/Tasks/TaskChat.tsx
  src/renderer/components/Tasks/TaskInput.tsx
Due: lint, format

Enhance markdown formatting in TaskMessageStream
  src/renderer/components/Tasks/TaskMessageStream.tsx
Due: lint, format

Commit changes here
  src/renderer/App.tsx
  src/renderer/components/Tasks/TaskChat.tsx
  src/renderer/components/Tasks/TaskMessageStream.tsx
  src/renderer/components/Tasks/Tools/BashTool.tsx
  src/renderer/components/Tasks/Tools/EditTool.tsx
  src/renderer/components/Tasks/Tools/MultiEditTool.tsx
  src/renderer/components/Tasks/Tools/NotebookEditTool.tsx
  src/renderer/components/Tasks/Tools/ReadTool.tsx
  src/renderer/components/Tasks/Tools/WriteTool.tsx
  src/renderer/components/Tasks/Tools/utils.ts
Due: lint, format

Merge style changeS
  src/renderer/components/Tasks/TaskMessageStream.tsx
Due: lint, format

Input sizing is correct
  DEPENDENCY_MANAGEMENT.md
  GITHUB_APP_SETUP.md
  src/components/InstallationList.tsx
  src/renderer/components/Tasks/TaskInput.tsx
Due: lint, format

The issue with the git init is fixed
  src/index.css
  src/preload.ts
  src/renderer/components/Tasks/TaskView.tsx
  src/renderer/store/tasks.ts
Due: lint, format, stylelint

The issue with the git init is fixed
  src/index.css
Due: format, stylelint

The code is good now
  src/renderer/components/Tasks/TaskMessageStream.tsx
Due: lint, format

It's working but it has performance issues
  src/main/services/claudeService.ts
  src/preload.ts
  src/renderer/App.tsx
  src/renderer/components/Tasks/TaskChat.tsx
  src/renderer/components/Tasks/TaskInput.tsx
  src/renderer/components/Tasks/TaskList.tsx
  src/renderer/services/claudeMessageHandler.ts
  src/renderer/store/tasks.ts
Due: lint, format

Some style changes
  src/renderer/components/Panes/PaneWrapper.tsx
  src/renderer/components/Tasks/TaskInput.tsx
  src/renderer/components/Tasks/TaskMessageStream.tsx
  src/renderer/components/Tasks/Tools/ExitPlanModeTool.tsx
Due: lint, format

Build dmg
  .gitignore
  forge.config.ts
  index.html
  package.json
  pnpm-lock.yaml
Due: format

package.json
  package.json
Due: format

Path conditions:
  lint: any of: src/**/*.{js,jsx,ts,tsx}
  format: any of: *.{js,jsx,ts,tsx,json,css,md}
  stylelint: any of: *.{css,scss}
